<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIRDC_HOST</key>
	<string>$(AIRDC_HOST)</string>
	<key>AIRDC_PASSWORD</key>
	<string>$(AIRDC_PASSWORD)</string>
	<key>AIRDC_USERNAME</key>
	<string>$(AIRDC_USERNAME)</string>
</dict>
</plist>
